<div class="header-container">
  <div class="row">
    <div class="small-12 large-6 columns call-to-action">
      <h1>
        Grapefruit is a fully open-source online Learning Management System (LMS)
        that can be run as SaaS or hosted on premises.
      </h1>
    </div>

    <div class="small-12 large-1-offset large-5 columns login-form-container">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" }) do |f| %>

        <fieldset>
          <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "large" %>
          <%= f.password_field :password, placeholder: "Password", class: "large" %>
          <%= f.submit "Login", class: "button success" %>

          <% if admin_user_signed_in? %>
            <p>Or, <%= link_to 'login with a user ID', become_path %> as an admin. </p>
          <% end %>

          <div class="center">
            <% if request.post? %>
              <%= link_to "Forgot password?", new_password_path(resource_name) %>
            <% end %>

            <%#= link_to "Create your #{Settings.org.short_name} Grapefruit account!", new_registration_path(resource_name), class: "button new-call" %>
            <%= link_to "Create your free grapefruit account!", new_registration_path(resource_name), class: "button expand" %>

            <h4>What is Grapefruit?</h4>

            <p>
              <%= link_to 'For Students', students_path, class: "button small secondary" %>
              <%= link_to 'For Educators', educators_path, class: "button small secondary" %>
              <%= link_to 'For Admins', admins_path, class: "button small secondary" %>
            </p>

            <%= render "devise/shared/links" %>
          </div>
        </fieldset>

      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="small-6 large-6 columns features">
    <h2>What can Grapefruit do for you?</h2>

    <h4>Instructors can</h4>
    <ul class="grapefruit-seeds">
      <li><span>upload any file or video</span></li>

      <li>
        <span>
          create assignments and assessments, and grade them inline using an
          intuitive interface
        <span>
      </li>

      <li>
        <span>
          take a pulse of student understanding via live lecture, a second channel
          that allows additional interaction without distraction
        </span>
      </li>
    </ul>

    <h4>Students can</h4>
    <ul>
      <li><span>view upcoming assignments and criteria</span></li>
      <li><span>discuss material and lectures in realtime</span></li>
      <li><span>view content from any device including mobile</span></li>
    </ul>
  </div>
</div>
