<%= breadcrumbs([
      link_to("All Courses", courses_path),
      link_to(@course.name, course_path(@course)),
      link_to(@capsule.name, [@course, @capsule]),
      link_to('Add Problem Set', void, class: "current")
    ])
%>

<div class="landing">
  
  <div class="description">
    <h3>Add Problem Set to <%= @capsule.name %></h3>
  </div>

  <div class="login">
    <%= form_for [@course, @capsule, @problem_set] do |f| %>
      <%= devise_error_messages! %>

      <%= f.text_field :name, placeholder: "Name", autofocus: true %>

      <%= f.text_field :webwork_url, placeholder: "WebWork URL" %>

      <%= f.text_field :webwork_url, placeholder: "WebWork URL", autofocus: true %></div>

      <div><%= f.submit "Add Problem Set", class: "button small" %></div>
    <% end %>
  </div>

</div>