<% page_title "Editing #{@announcement.title}" %>

<%= breadcrumbs([
      link_to('All Courses', courses_path),
      link_to(@course.name, course_path(@course)),
      link_to("Edit #{@announcement.title}", void, class: "current")
    ]) %>

<div class="landing">

  <div class="description">
    <h3>Edit <%= @announcement.title %></h3>
  </div>

  <div class="login">
    <%= form_for [@course, @announcement] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :title, placeholder: "Homework due tommorrow!", autofocus: true %>

      <%= f.text_area :content, placeholder: "Pages 47-48 problems are due tomorrow, make sure to turn them in!" %>

      <div><%= f.submit "Add Announcement", class: "button small" %></div>
    <% end %>
  </div>

</div>