<hr/>
<div>
	<div>
		<h4>
			<% if can? :manage, @course %>

				<%= link_to assignment.name, edit_course_assignment_path(assignment.course, assignment) %>

				<span class="grey">
					-
					<% if assignment.available_submissions.count > 0 %>
						<%= link_to 'grade', course_assignment_grades_path(assignment.course, assignment) %>
					<% end %>
					<%= assignment.available_submissions.count %> submissions
				</span>

			<% else %>
				<%= link_to assignment.name, course_assignment_path(assignment.course, assignment) %>
			<% end %>
		</h4>
	</div>
	<div>
			<span class="points"><%= assignment.points %> point <%= assignment.assignment_type.name %> </span><br/>
			<span class="timestamp grey">updated <%= time_ago_in_words(assignment.updated_at) %> ago</span>
	</div>
</div>
