<div>
	<div>
		<h4>
			<% if can? :manage, @course %>
				<%= link_to assignment.name, edit_course_assignment_path(assignment.course, assignment) %>
				(<%= link_to 'grade', course_assignment_grades_path(assignment.course, assignment) %>)
			<% else %>
				<%= link_to assignment.name, course_assignment_path(assignment.course, assignment) %>
			<% end %>
		</h4>
		<span class="points"><%= assignment.points %> points</span>
		<span class="timestamp grey"><%= time_ago_in_words(assignment.updated_at) %> ago</span>
	</div>
	<div>
		<span class="type">
			<%= assignment.assignment_type.name %>
		</span>
		<span class="description">
			<%= assignment.description %>
		</span>
	</div>
</div>
