<hr/>
<div>
	<div>
		<h4>
			<% if can? :manage, @course %>

				<%= assignment.name %>

				<span class="grey assignment-controls">

					<%= link_to 'view', course_assignment_path(assignment.course, assignment) %>
					-
					<%= link_to 'edit', edit_course_assignment_path(assignment.course, assignment) %>
					-
					<% if assignment.available_submissions.count > 0 %>
						<%= link_to 'grade', course_assignment_grades_path(assignment.course, assignment) %>
					<% end %>
					<%= assignment.available_submissions.count %> submissions
				</span>

			<% else %>
				<% if assignment.submitted_for_user(current_user) %>
					&check;
				<% end %>
				<%= link_to assignment.name, course_assignment_path(assignment.course, assignment) %>
				<%= render 'grades/percentage', assignment: assignment, user: current_user %>
			<% end %>
		</h4>
	</div>
	<div>
			<span class="points"><%= assignment.points %> point <%= assignment.assignment_type.name %> </span>
			<% unless can? :manage, @course %>
				-
				<% if assignment.due_day < DateTime.now %>
					was
				<% end %>
				due on <%= assignment.due_day.strftime(DATE_FORMAT_DAY) %>
			<% end %>
			<br/>
			<span class="timestamp grey">updated <%= time_ago_in_words(assignment.updated_at) %> ago</span>
	</div>
</div>
