<h3>Course Assignments <%= parens(@assignments.count) %></h3>

<% if can? :manage, @course %>
  <div>
    <%= link_to '+ New Assignment',
      new_course_assignment_path(@course),
      class: "button small" %>
    <%= link_to 'Manage Assignment Types',
      course_assignment_types_path(@course),
      class: "button small secondary" %>
    <%= link_to 'View Course Grades (Experimental)',
      course_gradelist_path(@course),
      class: "button small secondary",
      disabled: true
      %>
  </div>
<% else %>

  <p class="grey">

    A check mark (&check;) next to an assignment means you have uploaded a submission for it.<br/>
    A number after an assignment name means the instructor has graded your submission. Click the assignment for details.

  </p>

<% end %>

<div class="assignmentList">
	<%= render @assignments %>
	<% if @assignments.count == 0 %>
		<p class="grey">No assignments yet!</p>
	<% end %>
</div>
