<% page_title "Creating New Assignment" %>

<div class="landing">

  <%= link_to '&#9664; Cancel to Assignment List'.html_safe,
    course_assignments_path(@course),
    class: "button small secondary" %>

  <div class="description">
    <h4>New Assignment in <%= @course.name %></h4>
  </div>

  <div class="login">

    <%= form_for([@course, @assignment], :html=> {:multipart => true}) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :name, placeholder: "Assignment Name", autofocus: true %>

      <%= f.label :assignment_type_id, 'Assignment Type:' %>

      <%= f.collection_select(:assignment_type_id, @course.assignment_types, :id, :name) %>

      <%= f.text_area :description, placeholder: "Description or instructions for the assignment.", style: "height: 10em" %>
     
      <%= f.label "Attach documents (PDF, image, Word, etc)" %><br>


       <%= f.fields_for :documents do |p| %>
         <div class="field">
           <%= p.file_field :document, :multiple => true, name: "documents[document][]" %>
         </div>
       <% end %>

     <%= f.label :points, 'Point value:' %>
     <%= f.text_field :points, placeholder: "10, 20, 100, etc" %>

      <div><%= f.submit "Create Assignment", class: "button small" %></div>
    <% end %>

  </div>

</div>
