<div class="editNav">
	<%= link_to '&larr; back to assignment list'.html_safe, course_assignments_path(@course) %>
</div>

<br/><br/>

<h4><%= @assignment.name %> - <%= @assignment.points %> points</h4>

<p class="grey">
	<%= @assignment.assignment_type.name %> created
	<%= @assignment.created_at.strftime('%B %e at %l:%M %p') %><% if @assignment.updated_at != @assignment.created_at %>,
		updated <%= time_ago_in_words(@assignment.updated_at) %> ago
	<% end %>
	in <%= link_to @course.name, course_path(@course) %>
</p>

<p class="large">
	<%= @assignment.description %>
</p>

<p>
	<%= render 'documents/documents', container: @assignment, documents: @assignment.documents %>
</p>
<div>
	<%= link_to 'Upload Submission for Assignment',
		new_course_assignment_submission_path(@course, @assignment),
		class: "button small" %>
	<br/><br/>
	<div>
		<h6>Your Submissions <%= parens(@submissions.count) %></h6>
		<%= render @submissions %>
	</div>

</div>
