<% page_title "Editing #{@lecture.name}" %>

<div class="landing">

  <div class="description">
    <h3>Edit Lecture from <%= @capsule.name %></h3>
  </div>

  <div class="login">
    <%= form_for [@course, @capsule, @lecture] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :name, placeholder: "Name", autofocus: true %>

      <%= f.text_area :description, placeholder: "This lecture will focus on ..." %>

      <%= f.text_field :lecture_number, placeholder: "Lecture Number" %>

      <div><%= f.submit "Update Lecture", class: "button small" %></div>
    <% end %>
  </div>

</div>