<% page_title "Editing #{@lecture.name}" %>

<div class="landing">

  <div class="description">
    <h3>Edit "<%= @lecture.name %>"</h3>
  </div>

  <div class="login">
    <%= form_for [@course, @capsule, @lecture] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :name, placeholder: "Name", autofocus: true %>

      <%= f.text_area :description, placeholder: "This lecture will focus on ..." %>

      <div>
        <%= f.submit "Update Lecture", class: "button small" %>
        <%= link_to "Delete Lecture",
                  course_capsule_lecture_path(@course, @lecture.capsule, @lecture),
                  data: { confirm: "Are you want to delete this lecture? This action cannot be undone." },
                  method: :delete,
                  class: "button alert small" %>
      </div>
    <% end %>
  </div>

</div>
