<% page_title @lecture.name %>

<%= breadcrumbs([
      link_to('All Courses', courses_path),
      link_to(@course.name, course_path(@course)),
      link_to(@capsule.name, course_capsule_path(@course, @capsule)),
      link_to("#{@lecture.name}", void, class: "current")
    ]) %>

<h2><%= @lecture.name %></h2>

<% if can? :manage, @course %>

  <%= link_to "Add File", new_course_capsule_lecture_document_path(@course, @capsule, @lecture), class: "button small" %>
  <%= link_to "Edit Lecture", edit_course_capsule_lecture_path(@course, @capsule, @lecture), class: "button small" %>

<% end %>

<%= render "documents/documents", container: @lecture %>

<div>
  <h3>Videos</h3>

  <% if can? :manage, @course %>
   <div>
     <%= link_to "New Video", new_course_capsule_lecture_video_path(@course, @capsule, @lecture), class: "button small" %>
   </div>
  <% end %>

  <% if @videos.empty? && @lecture.mediasite_url.blank? %>
    <p>No videos found.</p>
  <% end %>

  <% @videos.each do |video| %>
    <%= render video %>
    <% if @videos.length > 1 %>
      <div class="custom-hr"></div>
    <% end %>
  <% end %>
</div>

<% unless @lecture.mediasite_url.blank? %>
  <iframe style="width:60%;height:500px;" frameborder="0" scrolling="auto" marginheight="0" marginwidth="0" src="<%= @lecture.mediasite_url %>"></iframe>
<% end %>
