<% page_title @lecture.name %>

<%= link_to "Back to " + @capsule.name, [@course, @capsule], class: "button small" %>
<%= link_to "Add File", new_course_capsule_lecture_document_path(@course, @capsule, @lecture), class: "button small" %>

<%= render "documents/documents", container: @lecture %>

<h2><%= @lecture.name %></h2>

<div>
<% @videos.each do |video| %>
  <%= render video %>
  <% if @videos.length > 1 %> 
    <div class="custom-hr"></div>
  <% end %>
<% end %>
<% if @videos.empty? %>
  <p>No videos found.</p>
<% end %>
</div>
<% if current_user == @course.instructor %>
 <div><%= link_to "New Video", new_course_capsule_lecture_video_path(@course, @capsule, @lecture), :class => "button small" %></div>
<% end %>

<% if @lecture.mediasite_url %>
  <iframe style="width:60%;height:500px;" frameborder="0" scrolling="auto" marginheight="0" marginwidth="0" src="<%= @lecture.mediasite_url %>"></iframe>
<% end %>
