<% @register = true %>

<div class="register content">

  <h2>Sign Up</h2>

  <p class="grey medium">
    Grapefruit at <strong><%= ORG_NAME %></strong>
  </p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <%= devise_error_messages! %>

    <%= f.text_field :name, autofocus: true, placeholder: "Name" %>

    <%= f.email_field :email, placeholder: "Email Address" %>

    <%= f.password_field :password, placeholder: "Password" %>

    <%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>

    <%= f.submit "Create Account", class: 'button' %>

    <br/>

    <%= render "devise/shared/links" %>

  <% end %>

</div>
