<p>Hey there <%= @student_name %>,</p>

<p>A new assignment was posted in <%= link_to @course.name, course_url(@course) %>:</p>

<h3><%= @assignment.name %></h3>
<p class="grey"><%= @assignment.assignment_type.name %>, <%= @assignment.points %> points</p>

<% if not @assignment.description.empty? %>
  <div class="message"><%= @assignment.description %></div>
<% end %>

<p>For more information and to download any attached files,
    <%= link_to 'view this assignment online', course_assignment_url(@course, @assignment) %>.</p>
