<tr>
  <td>
    <%= link_to topic.name, [@course, topic] %>
  </td>
  <% if defined? full %>
    <td><%= topic.replies.count %></td>
    <td>
        <%= topic.author.name %> (<%= distance_of_time_in_words_to_now topic.created_at %> ago)
    </td>
    <td>
        <%= topic.last_poster.name %> (<%= distance_of_time_in_words_to_now topic.updated_at %> ago)
    </td>
  <% end %>
</tr>