<% page_title @topic.name %>

<h6><%= link_to "&#9664; Topics".html_safe, course_topics_path(@course) %> </h6>

<h3 class="course-name"><%= @topic.name %></h3>

<% if current_user == @topic.author %>
  <p>You created this topic.</p>
<% else %>
  <p>Started by: <%= @topic.author.name %> (<%= mail_to @topic.author.email %>)</p>
<% end %>

<div class="forum">
  <% if @replies.current_page == 1 %>
    <div class="row topic">
      <div class="small-4 column author">
        <strong><%= @topic.author.name %></strong>
        <p>
          <% if @topic.author == current_user %>
            <strong>(You)</strong>
          <% elsif @topic.author.instructs? @course %>
            <em>Course Instructor</em>
          <% elsif @topic.author.assists? @course %>
            <em>Course Assistant</em>
          <% elsif @topic.author == @topic.author %>
            <em>Topic Creator</em>
          <% end %>
        </p>
        <%= time_ago_in_words(@topic.created_at) %> ago<br/>
        <br/>
        <small>
          <%= @topic.created_at.strftime(DATE_FORMAT_DAY) %> at <%= @topic.created_at.strftime(DATE_FORMAT_TIME) %>
        </small>
        <% if can? :manage, @course %>
          <br/><br/>
          <%= link_to "delete topic",
                course_topic_path(@course, @topic),
                data: { confirm: "Are you sure? This action cannot be undone." },
                method: :delete,
                class: "button alert small" %>
        <% end %>
      </div>
      <div class="small-8 column body">
        <%= @topic.body %>
      </div>
    </div>
  <% end %>

  <%= render @replies, topic: @topic, course: @course %>
</div>

<div class="pages">
  <%= will_paginate @replies %>
</div>

<h4>Reply to "<%= @topic.name %>"</h4>

<%= form_for [@course, @topic, @reply] do |f| %>
  <a name="reply"></a>
  <%= f.text_area :body, class: "medium" %>

  <div><%= f.submit "Post Reply", class: "button small" %></div>
<% end %>
