<li class="course-capsule" data-capsule-id="<%= capsule.id %>">
	<a class="capsule-header" href="<%= course_capsule_path(capsule.course, capsule) %>">
		<h1 class="capsule-name"><span class="capsule-status"></span>
			<%= capsule.name %>
		</h1>
		<ul class="capsule-nav">
			<li class="active"><i class="icon-video-outline interactive"></i></li>
			<li><i class="icon-pen interactive"></i></li>
		</ul>        
	</a>
	<ul class="capsule-contents active">
		<% if capsule.lectures.empty? %>
			<li class="capsule-item">
			  <h2 class="capsule-item-empty">Oops, looks like there's nothing here!</h2>
			</li>
		<% else %>
		<%= render capsule.lectures %>
		<% end %>
	</ul>
	<ul class="capsule-contents">
		<% if capsule.problem_sets.empty? %>
			<li class="capsule-item">
			  <h2 class="capsule-item-empty">Oops, looks like there's nothing here!</h2>
			</li>
		<% else %>
			<%= render capsule.problem_sets %>
		<% end %>
	</ul>
</li>

<!-- 
<li class="capsule-item">
	<span class="item-status"></span> Need logic here to switch icons based on completion
	<h2 class="item-name">< capsule.name %></h2>
</li> -->
