<div class="capsule-container">

  <h4>
    Capsule:
    <%= link_to capsule.name, "#", class: "slide-reveal", data: { reveal: 'capsule-' + capsule.id.to_s } %>
  </h4>

  <div class="capsule reveal-hidden" id="capsule-<%= capsule.id %>">

    <p>

      <%= link_to "edit capsule", edit_course_capsule_path(@course, capsule), class: "add" %>
      <%= link_to "remove capsule", "#", class: "add alert" %>

      <span class="space"></span>

      <%= link_to "show files", "#",
          class: "add secondary slide-reveal",
          data: { 
            reveal: 'capsule-' + capsule.id.to_s + '-files',
            initial: "show files #{parens(capsule.documents.count)}",
            active: 'hide files'
          } %>
      <%= link_to "view as student &#10148;".html_safe,
      course_capsule_path(@course, capsule), target: "_blank", class: "add secondary" %>

      <span class="space"></span>

      <%= link_to "add lecture", new_course_capsule_lecture_path(@course, capsule), class: "add" %>

    </p>

    <div id="capsule-<%= capsule.id %>-files" class="reveal-hidden panel">

      <% if capsule.documents.empty? %>
        <p>No capsule files yet!</p>
      <% else %>
        <h6>Capsule Files (examples: chapter summary, reference sheets, etc)</h6>
      <% end %>

      <%= render "documents/documents", container: capsule, documents: capsule.documents %>

      <h5><%= link_to "add file", new_course_capsule_document_path(@course, capsule), class: "" %></h5>

    </div>

    
    <%= render collection: capsule.lectures, partial: "lectures/manage_lecture", as: :lecture %>


  </div>

</div>