<% page_title "Creating New Capsule" %>

<%= breadcrumbs([
      link_to('All Courses', courses_path),
      link_to(@course.name, course_path(@course)),
      link_to('Create Capsule', void, class: "current")
    ]) %>

<div class="landing">

  <div class="description">
    <h2>Add Capsule to <%= @course.name %></h2>
  </div>

  <div class="login">
    <%= form_for [@course, @capsule] do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.text_field :name, placeholder: "Capsule Name", autofocus: true %>

      <%= f.text_area :description, placeholder: "This topic consists of ..." %>

      <div><%= f.submit "Add Capsule", class: "button small" %></div>
    <% end %>
  </div>

</div>