<% page_title "Creating New Capsule" %>

<div class="landing">

  <div class="description">
    <h2>Add Capsule to <%= @course.name %></h2>
  </div>

  <div class="login">
    
    <%= form_for [@course, @capsule] do |f| %>
      <%= devise_error_messages! %>

      <%= f.text_field :name, placeholder: "Capsule Name", autofocus: true %>

      <%= f.text_area :description, placeholder: "This topic consists of ..." %>

      <div><%= f.submit "Add Capsule", class: "button small" %></div>  
    <% end %>
    
  </div>

</div>