<% page_title (@capsule.name + ' :: ' + @course.name) %>
<script>var capsule_id = <%= @capsule.id %>;</script>

<h3><%= @capsule.name %></h3>

<% if can? :manage, @course %>

  <div>
    <%= link_to "Add Lecture", new_course_capsule_lecture_path(@course, @capsule), class: "button small" %>
    <%= link_to "Add Problem Set", new_course_capsule_problem_set_path(@course, @capsule), class: "button small" %>
    <%= link_to "Add File", new_course_capsule_document_path(@course, @capsule), class: "button small" %>
    <%= link_to "Edit Capsule", edit_course_capsule_path(@course, @capsule), class: "button small" %>
  </div>

<% end %>

<% unless @capsule.description.blank? %>
  <p class="description expandable-text"><%= @capsule.description %></p>
<% end %>

<table class="listing">
  <thead>
    <th>
      Lectures <%= "(None found)" if @lectures.empty? %>
    </th>
  </thead>
  <%= render collection: @lectures, partial: "lectures/table_lecture", as: :lecture %>
</table>

<table class="listing">
  <thead>
    <th>
      Problem Sets <%= "(None found)" if @problem_sets.empty? %>
    </th>
  </thead>
  <%= render collection: @problem_sets, partial: "problem_sets/table_problem_set", as: :problem_set %>
</table>

<%= render "documents/documents", container: @capsule %>
