<% if video.youtube_id %>
  <div class="row">
    <h5 class="video-title">
      <%= video.title %> &nbsp;&nbsp;&nbsp;
      <span class="grey">Updated <%= time_ago_in_words(video.created_at) %> ago</span>
    </h5>
    <p class="grey"><%= video.description unless video.description.blank? %></p>

    <% if @standalone %>
      <div class="columns large-8">
        <div class="video-wrapper">
          <iframe type="text/html" width="560" height="315" src="//www.youtube.com/embed/<%=video.youtube_id%>?enablejsapi=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

      <div class="columns large-4">

        <%= link_to "Close Window",
            "javascript:window.close()",
            class: "button secondary small video-action" %>
            
        <%= link_to "Turn Off the Lights",
            "#",
            class: "button secondary small video-action", id: "off-lights" %>

        <% if can? :manage, @course %>

          <%= link_to "Add Video Annotation", new_course_capsule_lecture_video_video_text_path(@course, @capsule, @lecture, video), class: "button small video-action" %>
          <%= link_to "View/Edit Video Annotations", course_capsule_lecture_video_video_texts_path(@course, @capsule, @lecture, video), class: "button small video-action" %>

        <% end %>

        <ul class="video-texts">
          <%= render video.video_texts.order(time: :asc) %>
        </ul>

        <% if video.may_be_processing %>
          <p class="medium grey">This video has recently been uploaded and may not display, or be rendered poorly.
          This effect is only temporary and will end once YouTube processing has completed.</p>
        <% end %>

      </div>

    <% end %>

    <% if not @standalone %>

      <%= link_to "Watch &#10148;".html_safe,
                course_capsule_lecture_video_path(@course, @capsule, @lecture, video),
                target: "_blank",
                class: "button secondary small" %>

      <% if can? :manage, @course %>

          <%= link_to "Edit Video",
                    edit_course_capsule_lecture_video_path(@course, @capsule, @lecture, video),
                    class: "button primary small" %>
          <%= link_to "Remove Video",
                    course_capsule_lecture_video_path(@course, @capsule, @lecture, video),
                    data: { confirm: "Are you sure? This action cannot be undone." },
                    method: :delete,
                    class: "button alert small" %>

      <% end %>
    <% end %>
  </div>
<% elsif video.mediasite_url %>
  <div class="row">
    <h5 class="video-title">
      <%= video.title %> &nbsp;&nbsp;&nbsp;
      <span class="grey">Updated <%= time_ago_in_words(video.updated_at) %> ago</span>
    </h5>
    <p class="grey"><%= video.description unless video.description.blank? %></p>
    <% if not @standalone %>
      <%= link_to "Watch &#10148;".html_safe,
                course_capsule_lecture_video_path(@course, @capsule, @lecture, video),
                target: "_blank",
                class: "button secondary small" %>
      <% if can? :manage, @course %>
        <%= link_to "Edit Video",
                  edit_course_capsule_lecture_video_path(@course, @capsule, @lecture, video),
                  class: "button primary small" %>
        <%= link_to "Remove Video",
                  course_capsule_lecture_video_path(@course, @capsule, @lecture, video),
                  data: { confirm: "Are you sure? This action cannot be undone." },
                  method: :delete,
                  class: "button alert small" %>
      <% end %>
    <% else %>
      <%= link_to "Close Window",
            "javascript:window.close()",
            class: "button secondary small video-action" %>
      <%= link_to "Turn Off the Lights",
            "#",
            class: "button secondary small video-action", id: "off-lights" %>
    <% end %>

  </div>
  <% if @standalone %>
    <div class="row">
      <iframe class="mediasite-video" frameborder="0" scrolling="auto" marginheight="0" marginwidth="0" src="<%= video.mediasite_url %>"></iframe>
    </div>
  <% end %>
<% end %>
