<% if video.youtube_id %>
  <div class="row">
    <h5 class="video-title">
      <%= video.title %> &nbsp;&nbsp;&nbsp;
      <span class="grey"><%= time_ago_in_words(video.created_at) %> ago</span>
    </h5>

    <div class="columns large-8">
      <div class="video-wrapper">
        <iframe type="text/html" width="560" height="315" src="//www.youtube.com/embed/<%=video.youtube_id%>?enablejsapi=1&showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div class="columns large-4">
      <ul class="video-texts">
        <%= render video.video_texts.order(time: :asc) %>
      </ul>
      <% if can? :manage, @course %>
        <div>
          <%= link_to "Add Video Annotation", new_course_capsule_lecture_video_video_text_path(@course, @capsule, @lecture, video), class: "button small" %>
          <%= link_to "View/Edit Video Annotations", course_capsule_lecture_video_video_texts_path(@course, @capsule, @lecture, video), class: "button small" %>
        </div>
      <% end %>
      <% if video.may_be_processing %>
        <p class="medium grey">This video has recently been uploaded and may not display, or be rendered poorly.
        This effect is only temporary and will end once YouTube processing has completed.</p>
      <% end %>
    </div>
  </div>
<% elsif video.mediasite_url %>
  <div class="row">
    <h5 class="video-title">
      <%= video.title %> &nbsp;&nbsp;&nbsp;
      <span class="grey"><%= time_ago_in_words(video.updated_at) %> ago</span>
    </h5>
    <% if not @standalone %>
      <% if can? :manage, @course %>
        <%= link_to "Remove Mediasite Video",
                  course_capsule_lecture_video_path(@course, @capsule, @lecture, video),
                  data: { confirm: "Are you sure?" },
                  method: :delete,
                  class: "button secondary small" %>
      <% end %>
      <%= link_to "View Mediasite video in larger window",
                course_capsule_lecture_video_path(@course, @capsule, @lecture, video),
                target: "_blank",
                class: "button alert small" %>
    <% else %>
      <%= link_to "Close Window",
            "javascript:window.close()",
            class: "button secondary small" %>
    <% end %>
    
  </div>
  <div class="row">
    <iframe class="mediasite-video" frameborder="0" scrolling="auto" marginheight="0" marginwidth="0" src="<%= video.mediasite_url %>"></iframe>
  </div>
<% end %>
