<%= breadcrumbs([
      link_to("All Courses", courses_path),
      link_to(@course.name, course_path(@course)),
      link_to(@capsule.name, [@course, @capsule]),
      link_to(@lecture.name, [@course, @capsule, @lecture]),
      link_to('Add Video', void, class: "current")
    ])
%>
<div class="landing">

  <div class="description">
    <h3>Create New Video</h3>
  </div>

  <div class="login">

    <%= form_for [@course, @capsule, @lecture, @video], multipart: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <div class="section-container auto" data-section>
        <section class="active">
          <p class="title" data-section-title><a href="#uploadYoutube">Upload to Youtube</a></p>
          <div class="content" data-section-content>
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description %>
            </div>

            <div class="form-group">
              <%= f.label :file %>
              <%= f.file_field :file %>
            </div>
          </div>
        </section>

        <section>
          <p class="title" data-section-title><a href="#mediasiteURL">Mediasite URL</a></p>
          <div class="content" data-section-content>
            <%= f.text_field :mediasite_url, placeholder: "Mediasite URL (if any)" %>
          </div>
        </section>
      </div>

      <%= f.submit "Add Video", class: "button small" %>
    <% end %>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function()
  {
    var $form = $('#new_video');

    $form.submit(function(e)
    {
      e.preventDefault();

      removeUnusedFields($form);

      $form.get(0).submit();
    });
  });

  var removeUnusedFields = function($form)
  {
    $form.find("section:not(.active)").remove();
  };
</script>