<%= render 'shared/error_messages', object: @video %>

<div class="landing">

  <div class="description">
    <h3>Add video to "<%= @lecture.name %>"</h3>
  </div>

  <div class="login">

    <%= form_for [@course, @capsule, @lecture, @video], multipart: true do |f| %>
      
      <div class="section-container auto" data-section>
        <section class="active">
          <p class="title" data-section-title><a href="#uploadYoutube">Upload to Youtube</a></p>
          <div class="content" data-section-content>
            
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, autofocus: true %>
            </div>

            <div class="form-group">
              <%= f.label :description %>
              <%= f.text_area :description %>
            </div>

            <div class="form-group">
              <%= f.label :file %>
              <%= f.file_field :file %>
            </div>
          </div>
        </section>

        <section>
          <p class="title" data-section-title><a href="#mediasiteURL">Mediasite URL</a></p>
          <div class="content" data-section-content>
            
            <div class="form-group">
              <%= f.label :title %>
              <%= f.text_field :title, autofocus: true %>
            </div>
            
            <div class="form-group">
              <%= f.label :mediasite_url, 'Medasite URL' %>
              <%= f.text_field :mediasite_url, placeholder: "http://mediasite.mms.rpi.edu/Mediasite/Play/1337" %>
            </div>
          </div>
        </section>
      </div>

      <%= f.submit "Add Video", class: "button small" %>
    <% end %>
  </div>

</div>