<div class="submission" data-user-id="<%= submission.user.id %>" data-assignment-id="<%= submission.assignment.id %>">

  <span class="number">
    #<%= submission.id %>.<%= truncate(Digest::MD5.hexdigest(submission.inspect), length: 5, omission: "") %>
  </span>

  <span class="timeago">
    submitted
    <% if can? :manage, submission.assignment %>
    by </span><span class="number"><%= submission.user.name %></span><span class="timeago">
    <% end %>
    <%= time_ago_in_words(submission.created_at) %> ago
  </span>

  <% if submission.user == current_user %>

    (<%= link_to 'delete',
      course_assignment_submission_path(submission.assignment.course, submission.assignment, submission),
      method: :delete,
      confirm: "Warning - this CANNOT be undone. Are you sure you want to delete this submission?" %>)

  <% end %>

  <p>
    <%= submission.comments %>
  </p>

  <%= render 'documents/documents', container: submission, documents: submission.documents%>

  <% if can? :manage, submission.assignment %>

    <% latest_grade = submission.assignment.grades.where(user_id: submission.user_id).order("updated_at desc").first %>
    <% percentage = (latest_grade) ? ((latest_grade.points / submission.assignment.points) * 100).round(2) : 0 %>

    <% if latest_grade %>
      <% if latest_grade.updated_at < submission.updated_at %>
        <h6 class="yellow">This user's response has updated since you last graded this user's assignment submissions.</h6>
        <h6 class="green hidden">You have updated your grade!</h6>
      <% else %>
        <h6 class="green">Graded!</h6>
      <% end %>
    <% else %>
      <h6 class="yellow">This user's submission has not yet been graded.</h6>
      <h6 class="green hidden">You have now entered a grade for this user!</h6>
    <% end %>

    <div class="grade-form">
      <textarea class="comments"
        placeholder="Any comments for this grade."><%= latest_grade.comments if latest_grade %></textarea>
      <input type="text" style="width:200px" class="points" data-total-points="<%= submission.assignment.points %>"
        value="<%= latest_grade.points if latest_grade %>"
        placeholder="Point value (100% is <%= submission.assignment.points %>)"/>
        <button class="button small primary grade-update">Update Grade (<span class="percentage"><%= percentage %></span>%)</button>
    </div>

  <% end %>

</div>
