<% if !@login_inset %>
    <div class="login-form-container content">
        <% @login = true %>
<% end %>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "login-form" }) do |f| %>

    <fieldset>

        <legend>Login</legend>

        <%= f.email_field :email, :autofocus => true, :placeholder => "Email" %>

        <%= f.password_field :password, :placeholder => "Password" %>

        <%= f.submit "Login", :class => "button" %>

        <div>

            <%= render "devise/shared/links" %>

        </div>

    </fieldset>

<% end %>

<% if !@login_inset %>
    </div>
<% end %>