<% page_title "Editing #{@course.name}" %>

<%= breadcrumbs([
      link_to('All Courses', courses_path),
      link_to("Edit #{@course.name}", void, class: "current")
    ]) %>

<div class="landing">
  
  <div class="description">
    <h3>Edit <%= @course.name %></h3>
  </div>

  <div class="login">
    <%= form_for(@course) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true %></div>

      <div><%= f.submit "Update Course", class: "button small" %></div>
    <% end %>
  </div>

</div>