<% page_title @course.name %>

<%=
  breadcrumbs([
    link_to('All Courses', courses_path),
    link_to(@course.name, "javascript:void(0)", :class => "current")
  ])
%>

<h3><%= @course.name %></h3>

<% if current_user == @course.instructor %>

  <p>You are intructing this course.</p>
  
  <div>
    <%= link_to "Add Capsule", new_course_capsule_path(@course), :class => "button small" %>
    <%= link_to "Add File", new_course_document_path(@course), :class => "button small" %>
  </div>

<% elsif @course.students.include?(current_user) %>
  
  <p>You are enrolled in this course.</p>

<% elsif !@course.students.include?(current_user) %>

  <%= form_for [@course, @course_user] do |f| %>
    <%= f.hidden_field :course_id, :value => @course.id %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.submit "Join Course", class: "button small" %>
  <% end %>

<% end %>

<table class="listing">
  <thead>
    <th>Capsules</th>
  </thead>
	<tbody>
		<%= render @capsules %>
    <% if @capsules.empty? %>
      <tr>
        <td>
          <span>No capsules found.</span>
        </td>
      </tr> 
    <% end %>
	</tbody>
</table>