<% page_title @course.name %>

<% if !current_user.instructs?(@course) %>
  <div>

    <% if current_user.enrolled?(@course) %>
      <%= link_to 'Leave this course',
                course_course_user_path(@course, current_user),
                data: { confirm: "Are you sure you want to leave #{@course.name}?" },
                method: :delete,
                class: 'button secondary small' %>
    <% end %>

    <% if !@course.has?(current_user) %>
      <%= link_to 'Join this course!',
                course_course_users_path(@course, user_id: current_user.id),
                method: 'POST',
                class: 'button' %>
    <% end %>

  </div>
<% end %>

<% unless @course.announcements.blank? %>
  <p class="announcement">
    <strong><%= @course.announcements.last.title %></strong>
    <br>
    <span><%= @course.announcements.last.content %></span>
    <br>
    <%= link_to "View All Announcements", course_announcements_path(@course) %>
  </p>
<% end %>

<%= link_to_textbook_problem_sets(@course) %>

<span>Instructed by:</span>
<p>
  <%= render partial: 'users/instructor', collection: @course.instructors %>
</p>

<p class="description"><%= @course.description %></p>

<%= render "documents/documents", container: @course %>

<table class="listing">
  <thead>
    <th>Recent Discussion (<%= link_to "view all", course_topics_path(@course) %>)</th>
  </thead>
  <tbody>
    <%= render @topics %>
    <% if @topics.empty? %>
      <tr>
        <td>
          <span>No topics found.</span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
