<% page_title @course.name %>

<%=
  breadcrumbs([
    link_to('All Courses', courses_path),
    link_to(@course.name, void, class: "current")
  ])
%>

<h3 class="course-name"><%= @course.name %></h3>

<% if current_user == @course.instructor %>

  <span class="instructing">You are instructing this course.</span>
  
  <div>
    <%= link_to "Add Capsule", new_course_capsule_path(@course), class: "button small" %>
    <%= link_to "Add File", new_course_document_path(@course), class: "button small" %>
    <%= link_to "Edit Course", edit_course_path(@course), class: "button small" %>
  </div>

<% else %>

  <p>Instructor: <%= @course.instructor.name %> (<%= mail_to @course.instructor.email %>)</p>

  <% if @course.students.include?(current_user) %>
    <p>You are enrolled in this course.</p>
  <% else %>
    <%= form_for [@course, @course_user] do |f| %>
      <%= f.hidden_field :course_id, value: @course.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit "Join Course", class: "button small" %>
    <% end %>
  <% end %>

<% end %>


<table class="listing">
  <thead>
    <th>Capsules</th>
  </thead>
	<tbody>
		<%= render @capsules %>
    <% if @capsules.empty? %>
      <tr>
        <td>
          <span>No capsules found.</span>
        </td>
      </tr> 
    <% end %>
	</tbody>
</table>

<%= render "documents/documents", container: @course %>

<table class="listing">
  <thead>
    <th>Recent Discussion (<%= link_to "view all", course_topics_path(@course) %>)</th>
  </thead>
  <tbody>
    <%= render @topics %>
    <% if @topics.empty? %>
      <tr>
        <td>
          <span>No topics found.</span>
        </td>
      </tr> 
    <% end %>
  </tbody>
</table>