<% page_title @course.name %>

<div class="page-header-container">
  <div class="page-header">
    <div class="page-header-left">
      <h2 class="title"><%= @course.name %></h2>
      <% if current_user == @course.instructor %>
        <p class="description">You are the instructor for this course.</p>
      <% end %>
      <p class="description"><%= @course.description %></p>
    </div>
    <div class="page-header-right">
      <ul class="course-details">
        <li class="course-details-number"><%= @course.subject %> <%= @course.course_number %> <h6>COURSE NUMBER</h6></li>
        <li class="course-details-seats"><%= @course.seats_left %> <h6>SEATS</h6></li>
        <li class="course-details-credits"><%= @course.credits %> <h6>CREDITS</h6></li>
      </ul>
      <ul class="course-actions">
        <% if can? :manage, @course %>
          <li><%= link_to "Add Capsule", new_course_capsule_path(@course), class: "button small" %></li>
          <li><%= link_to "Add File", new_course_document_path(@course), class: "button small" %></li>
          <li><%= link_to "Edit Course", edit_course_path(@course), class: "button small" %></li>
        <% else %>
          <% if @course.students.include?(current_user) %>
            <a href="#" class="stateful-button--active">Unenroll</a>
          <% else %>
            <%= form_for [@course, @course_user] do |f| %>
              <%= f.hidden_field :course_id, value: @course.id %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.submit "Enroll", class: "stateful-button--inactive" %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>





<section class="course">
  <aside>
    <ul class="course-accordion">
      <li class="course-capsule active">
        <div class="capsule-header">
          <h1 class="capsule-name">
            <span class="capsule-status icon-chevron-right in-progress"></span>
            Functions</h1>
          <ul class="capsule-nav">
            <li>x</li>
            <li>x</li>
            <li>x</li>
          </ul>        
        </div>
        <ul class="capsule-contents capsule-contents--lectures active">
          <li class="capsule-item done">
            <span class="item-status icon-tick"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item in-progress">
            <span class="item-status icon-chevron-right"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status icon-tick"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>

        <ul class="capsule-contents capsule-contents--problems">
          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>

        <ul class="capsule-contents capsule-contents--files">
          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>
      </li>
      <li class="course-capsule">
        <div class="capsule-header">
          <h1 class="capsule-name">
            <span class="capsule-status icon-chevron-right"></span>
            Limits
          </h1>
          <ul class="capsule-nav">
            <li>x</li>
            <li>x</li>
            <li>x</li>
          </ul>        
        </div>
        <ul class="capsule-contents capsule-contents--lectures active">
          <li class="capsule-item done">
            <span class="item-status icon-tick"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item in-progress">
            <span class="item-status icon-chevron-right"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status icon-tick"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>

        <ul class="capsule-contents capsule-contents--problems">
          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>

        <ul class="capsule-contents capsule-contents--files">
          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>
      </li>
      <li class="course-capsule">
        <div class="capsule-header">
          <h1 class="capsule-name">
            <span class="capsule-status icon-chevron-right"></span>
            Derivatives</h1>
          <ul class="capsule-nav">
            <li>x</li>
            <li>x</li>
            <li>x</li>
          </ul>        
        </div>
        <ul class="capsule-contents capsule-contents--lectures active">
          <li class="capsule-item done">
            <span class="item-status icon-tick"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item in-progress">
            <span class="item-status icon-chevron-right"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status icon-tick"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>

        <ul class="capsule-contents capsule-contents--problems">
          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>

        <ul class="capsule-contents capsule-contents--files">
          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>
      </li>
      <li class="course-capsule">
        <div class="capsule-header">
          <h1 class="capsule-name">
            <span class="capsule-status icon-chevron-right"></span>
            Tangents
          </h1>
          <ul class="capsule-nav">
            <li>x</li>
            <li>x</li>
            <li>x</li>
          </ul>        
        </div>
        <ul class="capsule-contents capsule-contents--lectures active">
          <li class="capsule-item done">
            <span class="item-status icon-tick"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item in-progress">
            <span class="item-status icon-chevron-right"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status icon-tick"></span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>

        <ul class="capsule-contents capsule-contents--problems">
          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>

        <ul class="capsule-contents capsule-contents--files">
          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>

          <li class="capsule-item">
            <span class="item-status">x</span>
            <h2 class="item-name">Course Content Name</h2>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
  <div class="workplace">

    <% if current_user == @course.instructor %>

      <span class="instructing">You are instructing this course.</span>
      
      <div>
        <%= link_to "Add Capsule", new_course_capsule_path(@course), class: "button small" %>
        <%= link_to "Add File", new_course_document_path(@course), class: "button small" %>
        <%= link_to "Edit Course", edit_course_path(@course), class: "button small" %>
      </div>

    <% else %>

      <p>Instructed by <strong><%= @course.instructor.name %></strong> (<%= mail_to @course.instructor.email %>)</p>

      <% if not @course.students.include?(current_user) %>
        <%= form_for [@course, @course_user] do |f| %>
          <%= f.hidden_field :course_id, value: @course.id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.submit "Join Course", class: "button small" %>
        <% end %>
      <% end %>

    <% end %>


    <table class="listing">
      <thead>
        <th>Capsules</th>
      </thead>
      <tbody>
        <%= render @capsules %>
        <% if @capsules.empty? %>
          <tr>
            <td>
              <span>No capsules found.</span>
            </td>
          </tr> 
        <% end %>
      </tbody>
    </table>

    <%= render "documents/documents", container: @course %>

    <table class="listing">
      <thead>
        <th>Recent Discussion (<%= link_to "view all", course_topics_path(@course) %>)</th>
      </thead>
      <tbody>
        <%= render @topics %>
        <% if @topics.empty? %>
          <tr>
            <td>
              <span>No topics found.</span>
            </td>
          </tr> 
        <% end %>
      </tbody>
    </table>
  </div>
</section>
