<% page_title @course.name %>

<% if !current_user.instructs?(@course) %>
  <div>

    <% if current_user.enrolled?(@course) %>

      <%= form_for [@course, @course_user], html: {method: "delete"} do |f| %>
        <%= f.hidden_field :course_id, value: @course.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Leave this course", class: "button secondary small" %>
      <% end %>

    <% end %>

    <% if !@course.has?(current_user) %>
      <%= form_for [@course, @course_user] do |f| %>
        <%= f.hidden_field :course_id, value: @course.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.submit "Enroll", class: "button small" %>
      <% end %>
    <% end %>

  </div>
<% end %>

<% unless @course.announcements.blank? %>
  <p class="announcement">
    <strong><%= @course.announcements.last.title %></strong>
    <br>
    <span><%= @course.announcements.last.content %></span>
    <br>
    <%= link_to "View All Announcements", course_announcements_path(@course) %>
  </p>
<% end %>

<%= link_to_textbook_problem_sets(@course) %>

<span>Instructed by:</span>
<% @course.instructors.each do |instructor| %>
  <p>
    <strong><%= instructor.name %></strong>
    (<%= mail_to instructor.email %>)
  </p>
<% end %>

<p class="description"><%= @course.description %></p>

<%= render "documents/documents", container: @course %>

<table class="listing">
  <thead>
    <th>Recent Discussion (<%= link_to "view all", course_topics_path(@course) %>)</th>
  </thead>
  <tbody>
    <%= render @topics %>
    <% if @topics.empty? %>
      <tr>
        <td>
          <span>No topics found.</span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
