 <footer class="row">
  <div class="small-12 columns">
    <div class="school-logo">

    </div>
    <div class="project-description">

      <p>
        Created by the Grapefruit Team and funded in part <br/> by the
        <%= link_to "Rensselaer Center for Open Source Software", "http://rcos.rpi.edu", :target => '_blank' %>.
      </p>

      <nav class="horizontal">
        <ul class="nav-links">
          <li><%= link_to 'About', about_url %></li>
          <li><%= link_to 'Contact', contact_url %></li>
          <li><%= link_to 'Contribute', contribute_url %></li>
          <li><%= link_to 'Changelog', CHANGELOG_URL, target: "_blank" %></li>
          <li><%= link_to 'Privacy Policy', privacy_url %></li>
        </ul>
      </nav>

      <p class="platform">
        grapefruit platform
        <%= GRAPEFRUIT_VERSION_MAJOR %>.<%= GRAPEFRUIT_VERSION_MINOR %>.<%= GRAPEFRUIT_VERSION_PATCH %>+<%= GRAPEFRUIT_BUILD %>
        at <%= Settings.instance.name %>
      </p>

    </div>
  </div>
</footer>
