<!DOCTYPE html>

  <!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
  <!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
  <!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
  <!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->

  <head>

  	<meta charset="utf-8" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= full_title(yield(:title)) %></title>

    <%= csrf_meta_tags %>

    <% if content_for?(:meta_description) %>
      <meta name="description" content="<%= yield(:meta_description) %>">
    <% end %>

    <% if content_for?(:meta_keywords) %>
      <meta name="keywords" content="<%= yield(:meta_keywords) %>">
    <% end %>

    <%= yield(:stylesheets) if content_for?(:stylesheets) %>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

    <script type="text/javascript" src="//use.typekit.net/tyv1luk.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>

  <body>

    <div id="top-flash">
      <%= content_tag(:div, flash[:error], class: 'alert-box',) if flash[:error] %>
      <%= content_tag(:div, flash[:notice], class: 'alert-box secondary') if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], class: 'alert-box') if flash[:alert] %>
      <%= content_tag(:div, flash[:success], class: 'alert-box success') if flash[:success] %>
    </div>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <% if Rails.env.development? %>
      <div class="container">
        <%= debug(params) %>
        <!-- <%= debug(session) %> -->
      </div>
    <% end %>

    <%= yield(:scripts) %>

    <script>
    $content = $(".main-content");
    $leftSidebar = $(".mobile-sidebar.left");
    $rightSidebar = $(".mobile-sidebar.right");
    
    viewportHeight = $(window).height();

    $leftSidebar.height(viewportHeight);
    $rightSidebar.height(viewportHeight);

    function hide(side){
      if(side == "left"){
        $(".mobile-nav-left i").removeClass("active");
        $leftSidebar.animate({
          left: "-100%"
        }, 250);
        $content.animate({
          opacity: "1"
        }, 250);
      } else if(side == "right"){
        $(".mobile-nav-right i").removeClass("active");
        $rightSidebar.animate({
          left: "100%"
        }, 250);

        $content.animate({
          opacity: "1"
        }, 250);
      } else {
        hide("left");
        hide("right");
      }
    }

    function show(side){
      if(side == "left"){
        $(".mobile-nav-left i").addClass("active");
        $leftSidebar.animate({
          left: "0"
        }, 300);
        $content.animate({
          opacity: "0.5"
        }, 300);        
      } else if (side == "right"){
        $(".mobile-nav-right i").addClass("active");
        $rightSidebar.animate({
          left: "10%"
        }, 300);
        $content.animate({
          opacity: "0.5"
        }, 300);
      }
    }

    $(".mobile-nav i").click(function(e){
      $element = $(e.currentTarget);
      if($element.parent().is("[class*='-left']")){
        if($element.hasClass("active")){
          hide("left");
        } else {
          hide("right");
          show("left");          
        }
      } else {
        if($element.hasClass("active")){
          hide("right");
        } else {
          hide("left");
          show("right");
        }
      }

      $content.click(function(e){
        hide("left");
        hide("right");
      });

    });
    </script>


  </body>
</html>
