<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "guest", "data-turbolinks-track" => true %>
<% end %>

<% content_for :content do %>

    <div class="main-container">

        <div class="main-content">

            <div class="logo">
                <a href='<%= url_for root_url %>'>
                    <%= image_tag('grapefruit_logo-small.png') %>
                </a>
            </div>

            <%= yield %>

        </div>

    </div>

    <%= render "global/footer" %>

<% end %>

<%= render template: 'layouts/application' %>