<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "guest", "data-turbolinks-track" => true %>
<% end %>

<% content_for :content do %>

  <div class="top-bar-container">

    <%= render 'global/flash' %>

    <div class="top-bar" data-options="is_hover:false">
      <div class="title-area">
        <%= link_to root_path do %>
          <%= svg_tag asset_path('better-gf-logo_red.svg') %>
        <% end %>
      </div>

      <nav class="nav-area horizontal">
        <ul>
          <li><%= link_to "about", about_path, class: ("active" if params[:action] == "about") %></li>
          <li><%= link_to "contact", contact_path, class: ("active" if params[:action] == "contact") %></li>
          <li><%= link_to "login", new_user_session_path, class: ("active" if params[:controller] == "devise/sessions") %></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="main-content">
    <div class="page-header-container">
      <div class="page-header">
        <div class="page-header-full">
          <h1 class="title">Learn at Rensselaer. <b>Everywhere.</b></h1>
        </div>
      </div>
    </div>
        <%= yield %>
  </div>

  <%= render "global/footer" %>

<% end %>

<%= render template: 'layouts/application' %>
