<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "home", "data-turbolinks-track" => true %>
<% end %>

<% content_for :content do %>

  <div class="top-bar-container">

    <%= render 'global/flash' %>

    <div class="top-bar" data-options="is_hover:false">
      <div class="title-area">
        <%= link_to root_path do %>
          <%= svg_tag asset_path('grapefruit-logo-v2.svg') %>
        <% end %>

        <nav class="mobile-nav">
          <div class="mobile-nav-left">
            <% if content_for?(:left_sidebar) %>
              <i class="icon-th-menu"></i>
            <% else %>
              <i class="icon-th-menu" style="opacity: 0;"></i>
            <% end %>
          </div>
          <div class="mobile-nav-right">
            <i class="icon-th-small"></i>
          </div>
        </nav>

      </div>

      <nav class="nav-area horizontal">
        <ul>
          <li>
            <%= link_to "Home", root_path,
              class: ("active" if params[:controller] == "home") %>
          </li><li>
            <%= link_to "Courses", courses_path,
              class: ("active" if (@course.present? || params[:controller] == "courses")) %>
          </li><li>
            <%= link_to "Profile", edit_user_registration_path,
            controllerlass: ("active" if params[:controller] == "devise/registrations") %>
          </li><li>
            <%= link_to "Help", contact_path %>
          </li><li>
            <%= link_to "Logout", destroy_user_session_path,
              class: "secondary", method: :delete %>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <aside class="mobile-sidebar left">
    <%= yield(:left_sidebar) %>
  </aside>

  <aside class="mobile-sidebar right">
    <nav class="">
      <%= yield(:right_sidebar) %>
      <ul class="standard-nav">
        <li><%= link_to "Home", root_path, class: ("active" if params[:controller] == "home") %></li>
        <li><%= link_to "Courses", courses_path, class: ("active" if params[:controller] == "courses") %></li>
        <li><%= link_to "Profile", edit_user_registration_path, class: ("active" if params[:controller] == "devise/registrations") %></li>
        <li><%= link_to "Logout", destroy_user_session_path, class: "secondary", method: :delete %></li>
      </ul>
    </nav>
  </aside>


  <div class="main-content">
    <% if not content_for?(:home_content) %>
      <script> var home_standalone = true; </script>
    <% end %>
    <%= content_for?(:home_content) ? yield(:home_content) : yield %>
  </div>

  <%= render "global/footer" %>

<% end %>

<%= render template: 'layouts/application' %>
