<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "home", "data-turbolinks-track" => true %>
<% end %>

<% content_for :content do %>

  <div class="top-bar-container">
    <div class="top-bar" data-options="is_hover:false">
      <div class="title-area">
        <%= link_to root_path do %>
          <%= image_tag 'better-gf-logo_red.png' %>
        <% end %>

        <nav class="mobile-nav">
          <div class="mobile-nav-left">
            <% if content_for?(:left_sidebar) %>
              <i class="icon-th-menu"></i>
            <% else %>
              <i class="icon-th-menu" style="opacity: 0;"></i>
            <% end %>
          </div>
          <div class="mobile-nav-right">
            <i class="icon-th-small"></i>
          </div>
        </nav>

      </div>

      <nav class="nav-area horizontal">
        <ul>
          <li><%= link_to "Home", root_path, class: ("active" if params[:controller] == "home") %></li>
          <li><%= link_to "Courses", courses_path, class: ("active" if params[:controller] == "courses") %></li>
          <li><%= link_to "Profile", edit_user_registration_path, class: ("active" if params[:controller] == "devise/registrations") %></li>
          <li><%= link_to "Logout", destroy_user_session_path, class: "secondary", method: :delete %></li>
        </ul>
      </nav>
    </div>
  </div>

  <aside class="mobile-sidebar left">
    <%= yield(:left_sidebar) %>
  </aside>

  <aside class="mobile-sidebar right">
    <nav class="">
      <%= yield(:right_sidebar) %>
      <ul class="standard-nav">
        <li><%= link_to "Home", root_path, class: ("active" if params[:controller] == "home") %></li>
        <li><%= link_to "Courses", courses_path, class: ("active" if params[:controller] == "courses") %></li>
        <li><%= link_to "Profile", edit_user_registration_path, class: ("active" if params[:controller] == "devise/registrations") %></li>
        <li><%= link_to "Logout", destroy_user_session_path, class: "secondary", method: :delete %></li>
      </ul>
    </nav>
  </aside>


  <div class="main-content">
    <%= content_for?(:home_content) ? yield(:home_content) : yield %>
  </div>

  <%= render "global/footer" %>

<% end %>

<% content_for :scripts do %>

<script>
$content = $(".main-content");
$leftSidebar = $(".mobile-sidebar.left");
$rightSidebar = $(".mobile-sidebar.right");

viewportHeight = $(window).height();

$leftSidebar.height(viewportHeight);
$rightSidebar.height(viewportHeight);

function hide(side){
  $(".title-area").css("box-shadow", "none");
  $("body").css("position", "relative");
  if(side == "left"){
    $(".mobile-nav-left i").removeClass("active");
    $leftSidebar.animate({
      left: "-100%"
    }, 250);
    $content.animate({
      opacity: "1"
    }, 250);
  } else if(side == "right"){
    $(".mobile-nav-right i").removeClass("active");
    $rightSidebar.animate({
      left: "100%"
    }, 250);
    $content.animate({
      opacity: "1"
    }, 250);
  } else {
    hide("left");
    hide("right");
  }
}

function show(side){
  $(".title-area").css("box-shadow", "0px 6px 10px rgba(0, 0, 0, 0.14)");
  $("body").css("position", "fixed");
  if(side == "left"){
    $(".mobile-nav-left i").addClass("active");
    $leftSidebar.animate({
      left: "0"
    }, 300);
    $content.animate({
      opacity: "0.5"
    }, 300);
  } else if (side == "right"){
    $(".mobile-nav-right i").addClass("active");
    $rightSidebar.animate({
      left: "10%"
    }, 300);
    $content.animate({
      opacity: "0.5"
    }, 300);
  }
}

$(".mobile-nav i").click(function(e){
  $element = $(e.currentTarget);
  if($element.parent().is("[class*='-left']")){
    if($element.hasClass("active")){
      hide("left");
    } else {
      hide("right");
      show("left");
    }
  } else {
    if($element.hasClass("active")){
      hide("right");
    } else {
      hide("left");
      show("right");
    }
  }

  $content.click(function(e){
    hide("left");
    hide("right");
  });

});
</script>

<% end %>

<%= render template: 'layouts/application' %>