<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "home", "data-turbolinks-track" => true %>
<% end %>

<% content_for :content do %>

  <div class="top-bar-container">
    <nav class="top-bar">
    
      <ul class="title-area">
        <%= image_tag 'grapefruit_logo-topbar.png' %>
      </ul>

      <section class="top-bar-section">
            <ul class="right">

              <li class="has-dropdown not-click">
                <a href="#">Library</a>
                <ul class="dropdown"><li class="title back js-generated"><h5><a href="#">Back</a></h5></li>
                  <li class=""><a href="http://patterntap.com">Pattern Tap</a></li>
                  <li class=""><a href="http://www.zurb.com/word">Word</a></li>
                  <li class=""><a href="http://www.zurb.com/responsive">Responsive</a></li>
                  <li class=""><a href="http://www.zurb.com/playground">Playground</a></li>
                  <li class=""><a href="http://www.zurb.com/quips">Quips</a></li>
                </ul>
              </li>
      
            </ul>
          </section>
    </nav>
  </div>

  <div class="main-content">
    
    <h1>Welcome</h1>

    <p>
      <%= yield %>
    </p>

    <p>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </p>

  </div>

<% end %>

<%= render template: 'layouts/application' %>